__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual environments
.venv/
venv/
env/

# Django
staticfiles/
media/

# VSCode / IDE
.vscode/
.idea/

# macOS
.DS_Store

# Poetry
poetry.lock

#Docker
.env
.env.docker
*.pyc
